<div class="questions  p-3 border border-primary d-block ">
    <div class="Heading">
        <h3>QUESTIONS</h3>
    </div>
    <hr>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="MCQ Questions ">
            <ng-template ngbPanelContent>
                <div class="d-flex flex-wrap">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2" *ngFor="let question of questions; let i = index">
                        <app-question-button [buttonText]="question"
                            (buttonClicked)="handleButtonClick()"></app-question-button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel title="Coding Questions">
            <ng-template ngbPanelContent>
                <div class="">
                    <div class="d-flex gap-2 mt-2"
                        *ngFor="let question of coding_questions; let i = index">
                        <app-question-button [buttonText]="question" (buttonClicked)="handleButtonClick()"
                            [color]="colorString" [questionString]="'minimal question for showing'"></app-question-button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>